.dict-entry(*ngIf='entry')
  .ui.header.entry-header
    .ui.right.floated.sub.header
    .entry-word {{entry.word}}
    .phonetics(*ngIf='entry.phonetics')
      label.ui.small.label 英
      span {{entry.phonetics['UK']}}
      label.ui.small.label 美
      span {{entry.phonetics['US']}}

  word-tags([categories]='entry.categories')

  .clearing

  .ui.horizontal.list.base-forms(*ngIf='refWords||entryStack.length > 0')
    a.ui.item(*ngIf='entryStack.length > 0', (click)='goback()')
      i.left.arrow.icon
      | {{entryStack[entryStack.length-1].word}}
    a.ui.item(*ngFor='let word of refWords||[]', (click)='goto(word)')
      | {{word}}

  user-word([word]='entry.word', [userWord]='userWord', [context]='context',
  (userWordChanged)='onUserWordChange($event)')

  .ui.clearing.divider
  sui-tabset
    //.ui.pointing.secondary.menu
    .ui.top.attached.tabular.menu
      a.item(suiTabHeader='co') 释义
      a.item(suiTabHeader='te', [(isActive)]='textTabActive', (activate)='textTabActivated()') 文本
      a.item(*ngIf='entry.phrases', suiTabHeader='ph') 短语
    .ui.bottom.attached.segment(suiTabContent='co')
      .ui.selection.divided.small.list(*ngIf='entry.simple')
        .ui.item(*ngFor='let item of entry.simple',
        [ngClass]='{"selected-item":selectedItem&&item.pos===selectedItem.pos&&item.exp===selectedItem.meaning}',
        (click)='clickMeaningItem(item.pos,item)')
          | {{item.pos}} {{item.exp}}
      sui-accordion([closeOthers]='false')
        ng-template([ngIf]='!entry.complete')
          .ui.right.floated.mini.button((click)='loadCompleteMeanings()') 详尽释义...
          .ui.clearing.hidden.divider
        ng-template([ngIf]='entry.complete')
          sui-accordion-panel.pos-meanings(*ngFor='let pm of entry.complete||[]', [isOpen]='false')
            .pos-header(title='')
              i.dropdown.icon
              | {{pm.pos}}
            .ui.ordered.selection.divided.small.list.meaning-items.smi(content='')
              .ui.item(*ngFor='let item of pm.items',
              [ngClass]='{"selected-item":selectedItem&&pm.pos===selectedItem.pos&&item.exp===selectedItem.meaning}',
              (click)='clickMeaningItem(pm.pos,item)')
                span.meaning-item
                  span.ui.small.label(*ngFor='let tag of item.tags') {{tagLabelMap[tag]}}
                  | {{item.exp}}

    .ui.bottom.attached.segment(suiTabContent='te')
      .ui.right.floated.header
        sui-checkbox([(ngModel)]='textShowTitle') 标题
        sui-checkbox([(ngModel)]='textTrans') 中文
      .clearing
      ng-template([ngIf]='!userWordSource')
        .ui.right.floated.mini.button((click)='loadMoreParas()') 加载文本...
        .ui.clearing.hidden.divider

      .word-sources(*ngIf='userWordSource')
        div(*ngIf='userWordSource.isCurrentPara')
          | 来源：当前段落

        ng-template([ngIf]='userWordSource.para')
          word-text([entry]='entry', [para]='userWordSource.para', [textTrans]='textTrans', [showTitle]='textShowTitle')
          .ui.clearing.divider

        ng-template([ngIf]='!userWordSource.moreParas')
          .ui.right.floated.mini.button((click)='loadMoreParas()') 更多文本...
          .ui.clearing.hidden.divider

        ng-template([ngIf]='userWordSource.moreParas')
          ng-template(ngFor='', let-para='', [ngForOf]="userWordSource.moreParas", let-first="first", let-last="last")

            word-text([entry]='entry', [para]='para', [textTrans]='textTrans', [showTitle]='textShowTitle')

            .ui.clearing.divider(*ngIf='!last')

          ng-template([ngIf]='userWordSource.moreParas.length===0')
            | No More.

    .ui.bottom.attached.segment(*ngIf='entry.phrases', suiTabContent='ph')
      .ui.ordered.small.list.meaning-items.smi
        a.ui.item(*ngFor='let phrase of entry.phrases', (click)='goto(phrase)')
          | {{phrase}}

  .ui.fields
    .ui.clearing.divider
    .ui.right.floated.mini.buttons
      button.ui.button((click)='cancelSelect()') 取消
      .or
      button.ui.primary.button([ngClass]='{disabled: !selectedChanged}',
      (click)='doneSelect()') 确定
    .selected-tip 选择
    .selected-meaning(*ngIf='selectedItem&&selectedItem.meaning') {{selectedItem.pos||''}} {{selectedItem.meaning}}
