sui-sidebar-container.reader.fit-bottom-menu
  sui-sidebar.inverted.vertical.small(transition='overlay', #sidebar="")
    .chap-list(*ngIf='sidebarContent==="chap-list" && allowSwitchChap')
      a.item(*ngFor='let c of book&&book.chaps',
      (click)='switchChap(c);sidebar.close()',
      [ngClass]='{active: c._id===chap._id}')
        .pre-wrap {{c.name}}
        .zhname.pre-wrap(*ngIf="c.zhName") {{c.zhName}}
    .vocabulary(*ngIf='sidebarContent==="vocabulary"')
      .ui.secondary.small.menu
        a.item(*ngIf='!currentUser', (click)='openLoginDialog()') （未登录）
        .item(*ngIf='currentUser')
          img.ui.avatar.image(*ngIf='currentUser.avatarSetting&&currentUser.avatarSetting.imgUrl', [src]='avatarsBase+"/"+currentUser.avatarSetting.imgUrl')
          | {{currentUser.nickName}} &nbsp;&nbsp;
        a.item(*ngIf='currentUser', (click)='openLoginDialog()') 重新登录
      sui-accordion.inverted([closeOthers]='false')
        sui-accordion-panel.item([isOpen]='true')
          .column-header(title='')
            i.dropdown.icon
            | 最新加入
          .ui.relaxed.list.word-list(content='')
            a.item(*ngFor='let uw of latestAdded', (click)='lookupUserWord($event,uw)')
              | {{uw.word}}
        sui-accordion-panel.item([isOpen]='true')
          .column-header(title='')
            i.dropdown.icon
            | 查词历史
          .ui.relaxed.list.word-list(content='')
            a.item(*ngFor='let entry of entryHistory', (click)='showEntryPopup($event,entry)')
              | {{entry.word}}
            .item
              a.operation(*ngIf='entryHistory.length>0', (click)='clearDictLookupHistory()') ^^ 清空

  sui-sidebar-sibling.fit-top-menu([isDimmedWhenVisible]='true')
    .ui.small.top.fixed.inverted.main.menu
      .item.chap-name(*ngIf='chap') {{chap.name}}
      .right.menu
        .item((click)='toggleSidebar(sidebar,"chap-list")')
          i.content.icon
        //.item(*ngIf='currentUser')
          | {{currentUser.nickName}}

    .ui.chap-content
      .ui.list.items(*ngIf='chap')
        ng-template(ngFor='', let-para='', [ngForOf]="chap.paras", let-index="index", [ngForTrackBy]="paraTracker")
          .item.paragraph
            .para-no((click)='selectPara2(para)', [ngClass]='{"selected": para===selectedPara}')
              .value {{index+1}}
            .para
              para-content.para-content(
              [para]='para',
              [contentContext]='contentContext',
              [showTrans]='showTrans',
              [gotFocus]='para===selectedPara',
              [activeAlways]='true',
              [lookupDict]='lookupDict',
              [highlightSentence]='highlightSentence',
              [markNewWords]='markNewWords',
              [wordsHover]='wordsHover',
              [annotation]='(para===selectedPara)? currentAnnotation : null',
              [ngClass]='{"selected": para===selectedPara, "left-right": leftRight, "up-down": !leftRight}',
              (mouseover)='selectPara(para)',
              (dictRequest)="onDictRequest($event)")
              .ui.right.floated.selection.horizontal.list.para-op(*ngIf='showCommentsCount&&para.commentsCount>0')
                .item((click)='showComments(para)')
                  i.comment.icon
                  | 评论({{para.commentsCount}})

      .ui.list.prev-next-nav(*ngIf='book&&allowSwitchChap')
        a.item.prev-nav([ngClass]='{disabled: !prevChap}', (click)='switchChap(prevChap)')
          i.left.arrow.icon
          span.pre-wrap {{prevChap? prevChap.name:'（无）'}}
        a.item.next-nav([ngClass]='{disabled: !nextChap}', (click)='switchChap(nextChap)')
          i.right.arrow.icon
          span.pre-wrap {{nextChap? nextChap.name:'（无）'}}
      p &nbsp;

#dictPopup.ui.basic.popup(*ngIf='dictRequest')
  dict-entry(*ngIf='dictRequest.dictLang==="en"',
  [entry]='dictRequest.dictEntry',
  [initialSelectedItem]='dictRequest.initialSelected',
  [relatedWords]='dictRequest.relatedWords',
  [context]='dictRequest.context',
  (viewReady)='onDictPopupReady()',
  (userWordChanged)='onUserWordChange($event)',
  (dictItemSelected)='onDictItemSelect($event)')
  dict-zh-entry-smi(*ngIf='dictRequest.dictLang==="zh"',
  [entry]='dictRequest.dictEntry',
  [initialSelectedItem]='dictRequest.initialSelected',
  [relatedWords]='dictRequest.relatedWords',
  [context]='dictRequest.context',
  (viewReady)='onDictPopupReady()',
  (dictItemSelected)='onDictItemSelect($event)')
ng-template(#dictSimple='')


.ui.small.bottom.fixed.menu
  .item((click)='toggleSidebar(sidebar,"vocabulary")')
    | &nbsp;
    i.ul.list.icon
    | &nbsp;
  .item([ngClass]='{active: lookupDict}', (click)='lookupDict=!lookupDict')
    i.search.icon
    | 查词
  .item([ngClass]='{active: markNewWords}', (click)='toggleMarkNewWords()')
    i.pointing.up.icon
    | 生词
  .item([ngClass]='{active: wordsHover}', (click)='toggleWordsHover()')
    i.underline.icon
    | 标注
  .item([ngClass]='{active: showTrans}', (click)='showTrans=!showTrans')
    i.translate.icon
    | 中文
  .item([ngClass]='{active: leftRight, disabled: !showTrans}', (click)='leftRight=showTrans? !leftRight:leftRight')
    i.columns.icon
    | 左右
