sui-sidebar-container.reader.fit-bottom-menu
  sui-sidebar.inverted.vertical.small.chap-list(transition='overlay', #sidebar="")
    ng-template([ngIf]='allowSwitchChap')
      a.item(*ngFor='let c of book&&book.chaps',
      (click)='switchChap(c);sidebar.close()',
      [ngClass]='{active: c._id===chap._id}')
        .pre-wrap {{c.name}}
        .zhname.pre-wrap(*ngIf="c.zhName") {{c.zhName}}
  sui-sidebar-sibling.fit-top-menu([isDimmedWhenVisible]='true')
    .ui.small.top.fixed.inverted.main.menu
      .item.chap-name(*ngIf='chap') {{chap.name}}
      .right.menu
        .item((click)='sidebar.toggle()')
          i.content.icon
        //.item(*ngIf='currentUser')
          | {{currentUser.nickName}}
    .ui.container.chap-content
      p &nbsp;
      .ui.list.items(*ngIf='chap')
        ng-template(ngFor='', let-para='', [ngForOf]="chap.paras", let-index="index", [ngForTrackBy]="paraTracker")
          .item.paragraph
            .para-no((click)='selectPara2(para)', [ngClass]='{"selected": para===selectedPara}')
              .value {{index+1}}
            para-content.para-content(
            [para]='para',
            [contentContext]='contentContext',
            [showTrans]='showTrans',
            [gotFocus]='para===selectedPara',
            [activeAlways]='true',
            [lookupDict]='lookupDict',
            [highlightSentence]='para===selectedPara && highlightSentence',
            [markNewWords]='markNewWords',
            [wordsHover]='wordsHover',
            [annotation]='(para===selectedPara)? currentAnnotation : null',
            [ngClass]='{"selected": para===selectedPara, "left-right": leftRight, "up-down": !leftRight}',
            (click)='selectPara(para)',
            (dictRequest)="onDictRequest($event)",
            (noteRequest)="onNoteRequest($event)")

      .ui.list.prev-next-nav(*ngIf='allowSwitchChap')
        a.item.prev-nav([ngClass]='{disabled: !this.prevChap}', (click)='switchChap(prevChap)')
          i.left.arrow.icon
          span.pre-wrap {{this.prevChap? this.prevChap.name:'（无）'}}
        a.item.next-nav([ngClass]='{disabled: !this.nextChap}', (click)='switchChap(nextChap)')
          i.right.arrow.icon
          span.pre-wrap {{this.nextChap? this.nextChap.name:'（无）'}}
      p &nbsp;

#dictPopup.ui.basic.popup(*ngIf='dictRequest')
  dict-entry(*ngIf='dictRequest.dictLang==="en"',
  [entry]='dictRequest.dictEntry',
  [initialSelectedItem]='dictRequest.initialSelected',
  [relatedWords]='dictRequest.relatedWords',
  [context]='dictRequest.context',
  (viewReady)='onDictPopupReady()',
  (userWordChanged)='onUserWordChange($event)',
  (dictItemSelected)='onDictItemSelect($event)')
  dict-zh-entry-smi(*ngIf='dictRequest.dictLang==="zh"',
  [entry]='dictRequest.dictEntry',
  [initialSelectedItem]='dictRequest.initialSelected',
  [relatedWords]='dictRequest.relatedWords',
  [context]='dictRequest.context',
  (viewReady)='onDictPopupReady()',
  (dictItemSelected)='onDictItemSelect($event)')
ng-template(#dictSimple='')

#notePopup.ui.basic.popup.form
  .ui.sub.header 注：
  .field
    textarea.note-textarea([(ngModel)]='noteRequestNote', spellcheck='false', #noteTextarea='')
  .field
    button.ui.mini.compact.button((click)='completeNoteEdit("")')
      i.remove.icon
      | 删除
    .ui.right.floated.mini.compact.buttons
      button.ui.button((click)='completeNoteEdit(null)') 取消
      .or
      button.ui.primary.button((click)='completeNoteEdit(noteTextarea.value)') 保存

.ui.small.bottom.fixed.menu
  .item([ngClass]='{active: lookupDict}', (click)='lookupDict=!lookupDict') 查词
  .item([ngClass]='{active: markNewWords}', (click)='toggleMarkNewWords()') 生词
  .item([ngClass]='{active: wordsHover}', (click)='toggleWordsHover()') 标注
  .item([ngClass]='{active: showTrans}', (click)='showTrans=!showTrans') 中文
  .item([ngClass]='{active: leftRight, disabled: !showTrans}', (click)='leftRight=showTrans? !leftRight:leftRight') 左右
